@import '../../../../../../assets/scss/abstracts/abstracts';

.course-container{
    padding: 50px;

    h2{
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 30px;
    }

    .back-btn{
        text-decoration: none;
        color: $black-color;
        font-size: 24px;
        font-weight: 600;
        display: block;
        margin: 0px 0 30px;
    }

    &__detail{
        border: 1px dashed $black-color;
        margin: 20px 0;
        div{
            padding: 20px;
    
            label{
                font-weight: 600;
            }

            a{
                font-size: 18px;
                color: $black-color;
                text-decoration: underline;
                font-weight: 600;
            }
        }
    }
}