<div class="employeelist-container">
    <a [routerLink]="dashboardUrl" class="back-btn">Back</a>
    <h2>Employee List</h2>
    
    <table>
        <tr>
            <th>Sr.No</th>
            <th>Employee Name</th>
            <th>Designation</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <a [routerLink]="viewUrl">Abc</a>
            </td>
            <td>Manager</td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a [routerLink]="viewUrl">xyz</a>
            </td>
            <td>Manager</td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <a [routerLink]="viewUrl">def</a>
            </td>
            <td>Manager</td>
        </tr>
    </table>
</div>