<div class="batch-container">
    <a class="back-btn" [routerLink]="listUrl">Back</a>

    <h2>Batch View</h2>

    <div class="batch-container__detail">
        <div>
            <label>Batch Name:</label>
            <span>Batch1</span>
        </div>
        <div>
            <label>Batch Time:</label>
            <span>10 A.M to 12 P.M</span>
        </div>
        <div>
            <label>Batch Description:</label>
            <span>Morning time batch</span>
        </div>
        <div>
            <a [routerLink]="detailUrl">Batch Details</a>
        </div>
    </div>
</div>