<ul>
    <li>
        <a [routerLink]="employeeUrl">Employee</a>
    </li>
    <li>
        <a [routerLink]="courseUrl">Course</a>
    </li>
    <li>
        <a [routerLink]="batchUrl">Batch</a>
    </li>
    <li>
        <a [routerLink]="notificationUrl">Notification</a>
    </li>
</ul>
