@import '../../../../../assets/scss/abstracts/abstracts';

ul{
    padding: 30px;
    text-align: center;
    border-bottom: 1px solid $blue-shade;

    li{
        display: inline-block;
        margin: 0 10px;

        a{
            text-decoration: none;
            display: block;
            padding: 10px;
            font-size: 16px;
            color: $black-color;
            border-bottom: 1px solid transparent;
            font-weight: 600;

            &:hover{
                color: $blue-shade;
            }
        }
    }
}