<div class="notification-container">
    <a class="back-btn" [routerLink]="dashboardUrl">Back</a>

    <h2>Notification List</h2>

    <table>
        <tr>
            <th>Sr.No</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>1</td>
            <td>
                <a [routerLink]="viewUrl">Notification 1</a>
            </td>
            <td>
                New course added.
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                <a [routerLink]="viewUrl">Notification 2</a>
            </td>
            <td>
                Batch-2 is started.
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                <a [routerLink]="viewUrl">Notification 3</a>
            </td>
            <td>
                Employee-3 details updated
            </td>
        </tr>
    </table>
</div>